@page
@model AdminDashboard.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Discription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Discription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Technologies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Technologies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.URL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.URL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ImageURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ImageURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.IsFeatured)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.IsFeatured)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
